.header {
  display: flex;
  background: #0e0e0e;
  position: sticky;
  top: 0;
  z-index: 3;
}
.header .header__container {
  padding: 35px 0;
  border-bottom: 1px solid #ffffff95;
}

.header .header__container .header__links {
  display: inline-block;
  gap: 10px;
  justify-content: center;
}

.header .header__container a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.header .header__container a:hover {
  color: #d87d4a;
}
.header .header__container .header__cart svg {
  cursor: pointer;
}
.header__responsive {
    cursor: pointer;
  display: none;
}

.header__cart-section {
  display: flex;
  justify-content: flex-end;
}

.black__navbar {
  position: fixed;
  width: 101%;
  height: calc(100svh - 100px);
  background: #00000077;
  z-index: 2;
  bottom: 0;
  display: none;
  overflow: hidden;
}
.navbar__container {
  position: fixed;
  width: 102svw;
  height: 340px;
  z-index: 4;
  top: 98px;
  right: 0;
  left: 0;
}
@media (max-width: 769px) {
    .header__container{
        position: relative;
    }
  .header__container .header__cart-section {
    position: absolute;
    right: 0px;
  }
  .header__responsive {
    display: block;
  }
  .header__desktop {
    display: none;
  }
  .black__navbar {
    display: block;
  }
}

@media (max-width: 767px) {
  .header__container .header__cart-section {
    position: static;
    right: 10px;
  }
}
